#resultIsland, .main #resultFort {
  width: 247px;
  height: 37px;
  border-radius: 3.2px;
  border: solid 1px #1f233e;
  background-color: #525252;
  display: inline-block;
  margin: auto;
  padding-top: 15px;
  font-family: Source Sans Pro;
  font-size: 18px;
  letter-spacing: 0.2px;
  text-align: left;
  color: #ffffff;
}
.separator {
    margin-left: 12px;
    background-color: black;
    color: #fff;
    display: block;
    border: 2px solid black;
    margin-top: 6px; /*Give some space*/
}

.sidebar {
    height: 100%; /*Full Height*/
    width: 100px; /*Sidebar Width*/
    position: fixed; /*Stay fixed on scroll*/
    z-index: 1; /*Stay on top*/
    top: 0; /*Stay on top*/
    left: 0;
    background-color: #252525;
    border: solid 1px #1f233e;
    overflow-x: hidden; /*No horizontal scroll*/
    padding-top: 10px; /*Give some space*/
}

.sidebar a {
    color: #ffffff;
}
.sidebar a:hover {
    color: aquamarine;
}
.main {
    margin-left: 100px; /*Same as Sidebar Width*/
    padding: 0px 0px 0px 5px; /*10px left padding*/
}
.main .submain {
    margin-left: 150px;
    padding-left: 150px;
    display: inline-block;
}
.about {
    margin-left: 12px;
    background-color: #252525;
    color: #fff;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0px 5px;
}

input[type=text] {
    background-color: aquamarine; /*#7fffd4*/
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    height: 37px;    
}
input[type=text]:hover {
    background-color: aqua;
}
input[type=button] {
    background-color: #000;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    height: 41px;
    margin-bottom: 5px;
}
input[type=button]:hover {
    background-color: #333;
    color: aquamarine;
}
input[type=button]:active {
    background-color: #777;
    color: #FFF;
    border: 1px solid black;
}